<div class="m-2">
    <div>
        <h2>Add Product</h2>
        <div class="mt-2">

            <form (submit)="addProduct($event)">
                <div class="row">
                    <div class="col-3">
                        <label for="id" class="fw-bold">ID</label>
                        <input type="text" class="form-control" name="id">
                    </div>
                    <div class="col-3">
                        <label for="titleid" class="fw-bold">Title</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Description</label>
                        <input type="text" class="form-control" name="description">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Price</label>
                        <input type="text" class="form-control" name="price">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Disc %</label>
                        <input type="text" class="form-control" name="discountPercentage">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Rating</label>
                        <input type="text" class="form-control" name="rating">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Stock</label>
                        <input type="text" class="form-control" name="stock">
                    </div>
                    <div class="col-3">
                        <label for="id" class="fw-bold">Brand</label>
                        <input type="text" class="form-control" name="brand">
                    </div>
                    <div class="col-3">
                        <label for="id" class="fw-bold">Category</label>
                        <input type="text" class="form-control" name="category">
                    </div>
                    <div class="col-3">
                        <label for="id" class="fw-bold">Thumbnail</label>
                        <input type="file" class="form-control" name="thumbnail">
                    </div>
                    <div class="col-3">
                        <label for="id" class="fw-bold">other Images</label>
                        <input type="file" class="form-control" name="images">
                    </div>
                    <div class="text-center mt-5">
                        <input type="submit" class="btn btn-success">&nbsp;
                        <input type="reset" class="btn btn-warning">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>