<mat-toolbar>
    <div>
        <div>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Recipe Book</span>
        </div>
        <div>
            <span class="example-spacer"></span>
            <button mat-icon-button>
                <mat-icon>person </mat-icon>
            </button>
            &nbsp;
            &nbsp;
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
                (click)="logoutUser()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>




</mat-toolbar>