<form id="updateRecipeForm" class="max-w-md mx-auto mt-6" (ngSubmit)="updateRecipe()">
    <div>
        <h2 class="bg-gray-400  text-center">Update Recipe</h2>
    </div>
    <div class="mb-4">
        <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title:</label>
        <input type="text" id="title" name="title" [(ngModel)]="recipe.title" required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div class="mb-4">
        <label for="subtitle" class="block text-gray-700 text-sm font-bold mb-2">Subtitle:</label>
        <input type="text" id="subtitle" name="subtitle" [(ngModel)]="recipe.subtitle" required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div class="mb-4">
        <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Image</label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="image" name="image" type="file" (change)="onFileSelected($event)" accept="image/*" required>
    </div>

    <div class="mb-4">
        <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="recipe.description" required rows="4"
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
    </div>

    <div class="mb-4">
        <input type="checkbox" id="vegetarian" name="vegetarian" [(ngModel)]="recipe.vegetarian" required
            class="mr-2 leading-tight">
        <label for="vegetarian" class="text-gray-700 text-sm font-bold">Vegetarian</label>
    </div>

    <button type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Update Recipe
    </button>
</form>