<div class="m-2">
    <div>
        <h2>Add Product</h2>
        <div class="mt-2">

            <form>
                <div class="row">
                    <div class="col-3">
                        <label for="id" class="fw-bold">ID</label>
                        <input type="text" [(ngModel)]="product.id" class="form-control">
                    </div>
                    <div class="col-3">
                        <label for="titleid" class="fw-bold">Title</label>
                        <input type="text" class="form-control" [(ngModel)]="product.title">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Description</label>
                        <input type="text" class="form-control" [(ngModel)]="product.description">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Price</label>
                        <input type="text" class="form-control" [(ngModel)]="product.price">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Disc %</label>
                        <input type="text" class="form-control" [(ngModel)]="product.discountPercentage">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Rating</label>
                        <input type="text" class="form-control" [(ngModel)]="product.rating">
                    </div>
                    <div class="col-3">
                        <label for="" class="fw-bold">Stock</label>
                        <input type="text" class="form-control" [(ngModel)]="product.stock">
                    </div>
                    <div class="col-3">
                        <label for="id" class="fw-bold">Brand</label>
                        <input type="text" class="form-control" [(ngModel)]="product.brand">
                    </div>
                    <div class="col-3">
                        <label for="id" class="fw-bold">Category</label>
                        <input type="text" class="form-control" [(ngModel)]="product.category">
                    </div>
                    <div class="col-3">
                        <label for="id" class="fw-bold">Thumbnail</label>
                        <input type="file" class="form-control" [(ngModel)]="product.thumbnail">
                    </div>
                    <div class="col-3">
                        <label for="id" class="fw-bold">other Images</label>
                        <input type="file" class="form-control" [(ngModel)]="product.images">
                    </div>
                    <div class="text-center mt-5">
                        <input type="button" class="btn btn-success" (click)="addProduct($event)" value="submit">&nbsp;
                        <input type="reset" class="btn btn-warning">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>